@import url('https://use.fontawesome.com/releases/v5.15.2/css/all.css');
@import url('https://use.fontawesome.com/releases/v5.15.2/css/v4-shims.css');

@import url('https://fonts.googleapis.com/css?family=Bungee|Bungee+Outline&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat:wght@400;700&display=swap');

html {
  --primaryColor: #00cfc0;
  --primaryColorOpaque: #00cfc0aa;
  --hypnoAnimation: url('/static/hypno-2.gif');
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Montserrat';
}

* {
  box-sizing: border-box;
}

body {
  background-color: #000;
  background-image: url('/static/wires-min.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-blend-mode: luminosity;
}

#__next {
  width: 100%;
  height: 100%;
}

.nowrap {
  white-space: nowrap;
}
