@import url('https://fonts.googleapis.com/css?family=Bungee+Outline');
@import url('/static/monosocialiconsfont/monosocialiconsfont.css');

:root {
  --primaryColor: #68d4c0;
  --linkTextColor: #000;
  --linkHoverColor: #fff;
  --pagePadding: 1.5em;
  --gradientTopPadding: 7em;
}

:global(body) {
  display: flex;
  align-items: flex-end;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background-color: #000;
  background-image: url('/static/wires-min.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  font-family: 'Mono Social Icons Font';
}

:global(#__next) {
  width: 100%;
}

/* https://github.com/drinchev/monosocialiconsfont/issues/37 */
:global(a.symbol), :global(a.symbol:before) {
  -ms-font-feature-settings: 'liga' 1;
}

:global(.nowrap) {
  white-space: nowrap;
}

.content {
  background-image: linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,0.8));
  text-shadow: 4px 4px 10px #000;
  padding: var(--pagePadding);
  padding-top: var(--gradientTopPadding);
  margin-top: calc(var(--pagePadding) - var(--gradientTopPadding));
}

.header {
  color: var(--primaryColor);
}

.title,
.subtitle,
.footerText {
  line-height: 1.2em;
}

.title {
  font-family: 'Bungee Outline', cursive;
  font-size: 4em;
  margin: 0;
  /* Font quirkiness workarounds */
  margin-left: -3px;
  margin-top: -0.2em;
}

.subtitle {
  font-size: 0.9em;
  margin: 0.7em 0 5em;
}

.footerList {
  font-size: 1.4em;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.footerItem {
  display: inline-block;
  margin-right: 0.5em;
}

a.link {
  text-shadow: none;
  color: var(--linkTextColor);
  background-color: var(--primaryColor);
}

a.link:hover {
  background-color: var(--linkHoverColor);
}